@media(max-width : 601px)  {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-color: black;
        color: aliceblue;
    }
    
    grid{
        width: 100%;
        height: 100vh;
    }
    
    .border{
        border: 1px solid white;
    }
    
    #grilla{
        display: grid;
        grid-template-areas: 
        "header"
        "nav "
        "seccion_1" 
        "section_2"
        "aside"
        "footer";
        grid-template-columns: 100% ;
        grid-template-rows:1fr 50px 3fr 3fr 3fr ;
        gap: 5px    ;
    }
    
    /*Declaracion de areas*/
    
    header{
        grid-area: header;
        
        
    }
    
    nav{
        grid-area: nav;
        background-color: rgb(55, 55, 229);
    }
    
    section .sec_1{
        grid-area: section_1;
        background-color: rgb(55, 55, 229);
    }
    
    section .sec_2{
        grid-area: seccion_2;
        background-color: rgb(55, 55, 229);
    }
    
    aside{
        grid-area: aside;
        background-color: rgb(55, 55, 229);
    }

    footer.footer{
        grid-area: footer;
        background-color: rgb(55, 55, 229);
    }

    .sec_1{
        background:rgb(55, 55, 229); ;
    }

    .sec_2{
        background:rgb(55, 55, 229); ;
    }

    .img-cabeza{
        height: 180px;
        width: 100%;
    }

    ul{
        list-style:none  ;
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    li{
        display: inline-block;
        
    }
    
    .menu a{
        text-decoration: none;
        color: aliceblue;
        font-size: 18px;
        margin: 35px;
    }

    .sec_1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .img_r1{
        margin-top: 20px;
    }

    .articulo a{
       
        
        color: aliceblue;
        
    }

    .sec_2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    footer{
        font-size: 20px;
        text-align: center;
    }

   .aside{
       display: flex;
       flex-direction: column;
       justify-content: space-around;

   }
    



}

/******************************************************/

/*Escritorio*/
@media(min-width:601px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-color: black;
        color: aliceblue;
    }
    
    grid{
        width: 100%;
        height: 100vh;
    }
    
    .border{
        border: 1px solid white;
    }
    
    #grilla{
        display: grid;
        grid-template-areas: 
        "header header"
        "nav nav"
        "seccion_1 aside" 
        "section_2 aside"
        "footer  footer  ";
        grid-template-columns: 80% auto ;
        grid-template-rows:50px 50px 50vh 50vh 25px    ;
        gap: 10px    ;
    }
    
    /*Declaracion de areas*/
    
    header{
        grid-area: header;
        
        
    }
    
    nav{
        grid-area: nav;
        background-color: rgb(55, 55, 229);
    }
    
    section .sec_1{
        grid-area: section_1;
        background-color: rgb(55, 55, 229);
    }
    
    section .sec_2{
        grid-area: seccion_2;
        background-color: rgb(55, 55, 229);
    }
    
    aside{
        grid-area: aside;
        background-color: rgb(55, 55, 229);
    }

    footer.footer{
        grid-area: footer;
        background-color: rgb(55, 55, 229);
    }

    .sec_1{
        background:rgb(55, 55, 229); ;
    }

    .sec_2{
        background:rgb(55, 55, 229); ;
    }

    .img-cabeza{
        height: 50px;
        width: 100%;
    }

    

    .sec_1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .img_r1{
        margin-top: 20px;
    }

    .articulo a{
       
        
        color: aliceblue;
        
    }

    .sec_2{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    footer{
        font-size: 20px;
        text-align: center;
    }

   .aside{
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;

   }
}
